# Import

In [1]:
import pandas as pd

In [75]:
import numpy as np

In [2]:
df = pd.read_csv("authors.csv")

In [73]:
df['First Name'] = df['First Name'].apply(lambda name: name.strip())

In [ ]:
df['Last Name']

In [76]:
name = np.nan

In [78]:
if pd.isnull(name):
    pass
else:
    name = name.strip()

In [79]:
for tag in ['First Name', 'Middle Initial(s)', 'Last Name']:
    df[tag] = df[tag].apply(lambda name: name.strip() if not pd.isnull(name) else name )

# Data Cleaning

# Transformation

In [10]:
row = df.iloc[0, :]

In [11]:
row['First Name']

'Lauren'

In [12]:
row['Middle Initial(s)']

'E'

In [13]:
row['Last Name']

'Salminen'

In [15]:
row['First Name'][0] + '.' + row['Middle Initial(s)'] + '.' + row['Last Name'][0] + '.'

'L.E.S.'

In [18]:
%history 1 2 10 15

import pandas as pd
df = pd.read_csv("authors.csv")
row = df.iloc[0, :]
row['First Name'][0] + '.' + row['Middle Initial(s)'] + '.' + row['Last Name'][0] + '.'

In [22]:
row = df.iloc[3, :]

In [28]:
pd.isnull(row['Middle Initial(s)'])

True

In [58]:
def get_last_name_inital(last_name):
    
    l2 = [word.split('-') for word in last_name.split(' ')]    
    return ''.join(['-'.join([name[0] for name in l]) for l in l2])

In [59]:
get_last_name_inital("AAA BBB-CCC")

'AB-C'

In [61]:
get_last_name_inital("der van AAA")

'dvA'

In [62]:
get_last_name_inital("AAA")

'A'

In [63]:
def get_initial(row):
    
    ret = row['First Name'][0] + '.' 
    if not pd.isnull(row['Middle Initial(s)']):
        ret += row['Middle Initial(s)'] + '.';

    ret += get_last_name_inital(row['Last Name'])  + '.'
    
    return ret

In [43]:
last_name = "AAA BBB-CCC"

In [48]:
l2 = [word.split('-') for word in last_name.split(' ')]

In [49]:
l2

[['AAA'], ['BBB', 'CCC']]

In [51]:
l = ['BBB', 'CCC']

In [55]:
''.join(['-'.join([name[0] for name in l]) for l in l2])

'AB-C'

In [45]:
'BBB-CCC'.split('-')

['BBB', 'CCC']

In [ ]:
row['Last Name'].split(' ')

In [80]:
df.apply(
    get_initial,
    axis=1
)

0        L.E.S.
1        E.L.D.
2        T.M.N.
3          P.K.
4      A.R.B-S.
5       C.R..M.
6        O.A.A.
7          M.Z.
8          M.T.
9       M.E..R.
10         G.M.
11         X.K.
12      J.K..B.
13        D.vR.
14         M.H.
15       S.M.S.
16      N.A..G.
17     N.EM.vH.
18       S.C.M.
19         I.A.
20         M.A.
21         d.p.
22       I.H.H.
23      R.A..M.
24      S.E..F.
25         S.E.
26         G.F.
27       H.P.G.
28         S.L.
29      C.AM.C.
         ...
144        A.A.
145        R.B.
146      K.L.G.
147        L.S.
148        J.K.
149        J.O.
150     L.KM.H.
151        F.P.
152        f.p.
153        K.H.
154        K.W.
155        H.V.
156      P.G.S.
157        D.D.
158     E.A..W.
159        E.P.
160        T.J.
161      J.D.R.
162      R.A.C.
163        G.H.
164        H.W.
165        G.Z.
166        T.H.
167        G.K.
168      L.N-B.
169        M.K.
170      I.K.K.
171     M.A..L.
172        G.H.
173      D.A.B.
Length: 174, dtype: object

In [89]:
authors_emails = pd.concat([df['Email Address'],df.apply(
    get_initial,
    axis=1
) ], axis=1)

In [94]:
authors_emails.describe()

            Email Address     0
count                 174   174
unique                169   165
top     iliyani@yahoo.com  T.H.
freq                    2     3

In [91]:
authors_emails.sort_values(by=['Email Address'])

                           Email Address             0
75       Fabrizio.Pizzagalli@ini.usc.edu          F.P.
59                          HahnT@wwu.de          T.H.
166                         Hahnt@wwu.de          T.H.
164             Henrik.Walter@charite.de          H.W.
12           Jan.Buitelaar@radboudumc.nl       J.K..B.
95          Janita.Bralten@radboudumc.nl          J.B.
57         Karen.Caeyenberghs@acu.edu.au          K.C.
111           MARYAGNESMCMAHON@GMAIL.COM       A.B..M.
143           Mark.Shiroishi@med.usc.edu       M.S..S.
14         Martine.hoogman@radboudumc.nl          M.H.
144                     a.aleman@umcg.nl          A.A.
62                   a.altmann@ucl.ac.uk          A.A.
45               alexander.olsen@ntnu.no          A.O.
39                        amayer@mrn.org       A.R..M.
138             anderson.winkler@nih.gov       A.M..W.
54                 aplin@bwh.harvard.edu        A.P.L.
4        arielle.baskin-sommers@yale.edu      A.R.B-S.
141            ateumer@uni-greifswald.de          A.T.
83                   atilot@loni.usc.edu        A.K.T.
68          barbara.franke@radboudumc.nl          B.F.
53                      bbartnik@llu.edu      B.L.B-O.
130         bernhard.baune@ukmuenster.de  B.Theodor.B.
119                     bgutman1@iit.edu        B.A.G.
52                    bhimdhkr@gmail.com       B.M..A.
145            buelowr@uni-greifswald.de          R.B.
29                  c.cecil@erasmusmc.nl       C.AM.C.
5                    camcdonald@ucsd.edu       C.R..M.
71               carolien.dekovel@wur.nl    C.G.F..dK.
40           carrie.esopenko@rutgers.edu          C.E.
30              cbearden@mednet.ucla.edu        C.E.B.
..                                   ...           ...
156                 saemann@psych.mpg.de        P.G.S.
132  sara.bertolin@bellvitgehospital.cat          S.B.
90                   sarahMe@qimr.edu.au        S.E.M.
105                    sehatton@ucsd.edu        S.N.H.
109      sfaraone@childpsychresearch.org        S.V.F.
106                     shatokhi@usc.edu          N.S.
24                   simon.fisher@mpi.nl       S.E..F.
28                         sliew@usc.edu          S.L.
55               sophia.frangou@mssm.edu          S.F.
25          stefan.ehrlich@tu-dresden.de          S.E.
56                      sthomopo@usc.edu        S.I.T.
125                 sundaqiang@gmail.com          D.S.
18                 sven.mueller@ugent.be        S.C.M.
64         sylvane.desrivieres@kcl.ac.uk          S.D.
46            t.p.gurholt@medisin.uio.no        T.P.G.
79              thomas.frodl@med.ovgu.de          T.F.
160               tianyejia@fudan.edu.cn          T.J.
82                  tiffnie@stanford.edu        T.C.H.
2                           tnir@usc.edu        T.M.N.
76                    tomas.hajek@dal.ca          T.H.
34                       tvanerp@uci.edu    T.G.M..vE.
94            ulrike.lueken@hu-berlin.de          U.L.
155            voelzke@uni-greifswald.de          H.V.
140                      vzelman@usc.edu          V.Z.
74                waltonesther@gmail.com          E.W.
121             willembenjamin@gmail.com        W.B.B.
11            xiangzhen.kong@outlook.com          X.K.
86              yannying.chye@monash.edu          Y.C.
38                 yd.vanderwerf@vumc.nl     Y.D..vdW.
81                    zhangy@upstate.edu        Y.Z-J.

[174 rows x 2 columns]

In [67]:
df.iloc[30]['Last Name']

'Bearden '

# Evaulation

In [81]:
df_ref = pd.read_csv("reference.csv")

In [86]:
df_ref_sorted = df_ref.sort_values(by=['Email Address'])

In [96]:
df_ref['Email Address'].describe()

count                          170
unique                         170
top       hosten@uni-greifswald.de
freq                             1
Name: Email Address, dtype: object

In [92]:
len(df_ref_sorted)

170

In [93]:
len(authors_emails)

174

In [99]:
df[df['Email Address'].duplicated()]

,Timestamp,Email Address,First Name,Middle Initial(s),Last Name,"Highest degree (PhD, MD, etc)",Working Group(s),"Department, Institution (e.g. Psychiatric Genetics, QIMR Berghofer Medical Research Institute)",Street address (e.g. 300 Herston Rd),City (e.g. Brisbane),...,Country.1,"Department, Institution",Street address,City,ZIP or Postal Code.2,State or Province (if applicable).2,Country.2,4+ Affiliations (please leave an empty line between affiliations),Funding Acknowledgements,Conflict of Interest/Disclosures
113,4/30/2019 11:15:30,iliyani@yahoo.com,iliyan,NaN,ivanov,iliyani@yahoo.com,ENIGMA,Icahn School of Medicine,One Gustave Levy Place,NEW YORK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NIDA,Lundbeck Data Monitoring Committee
148,5/1/2019 19:45:47,kwonjs@snu.ac.kr,Jun Soo,NaN,Kwon,NaN,ENIGMA-OCD Working Group,"Department of Psychiatry, Seoul National Unive...","101, Daehang-ro Jongno-gu",Seoul,...,Republic of Korea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,No financial or non-financial conflicts of int...
170,5/17/2019 4:24:04,ikoerte@bwh.harvard.edu,Inga,K,Koerte,ikoerte@med.lmu.de,"TBI, PTSD","cBRAIN, Department of Child and Adolescent Psy...",Waltherstrasse 23,Muenchen,...,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"R01NS100952, ERA-NET Neuron",Spouse is employee of Siemens Healthineers
172,5/24/2019 6:28:08,georg.homuth@uni-greifswald.de,Georg,NaN,Homuth,NaN,University Medicine Greifswald,Interfaculty Institute for Genetics and Functi...,Felix-Hausdorff-Straße 8,Greifswald,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
173,6/7/2019 10:51:55,dbaron@westernu.edu,David,A,Baron,na,sports concussion,"Center for Exercise, Psychiatry and Sport, We...",309 E 2nd. St,Pomona,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"NIDA, APA, DoD",no COI

In [100]:
df[df['Email Address'] == 'iliyani@yahoo.com']

,Timestamp,Email Address,First Name,Middle Initial(s),Last Name,"Highest degree (PhD, MD, etc)",Working Group(s),"Department, Institution (e.g. Psychiatric Genetics, QIMR Berghofer Medical Research Institute)",Street address (e.g. 300 Herston Rd),City (e.g. Brisbane),...,Country.1,"Department, Institution",Street address,City,ZIP or Postal Code.2,State or Province (if applicable).2,Country.2,4+ Affiliations (please leave an empty line between affiliations),Funding Acknowledgements,Conflict of Interest/Disclosures
77,4/29/2019 10:38:25,iliyani@yahoo.com,iliyan,NaN,ivanov,iliyani@yahoo.com,ADHD SUD,Icahn School of Medicine at Mount Sinai,One Gustave Levy Place,NEW YORK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1R03DA25796-1 -NIDA; K23 PA-00-003 NIDA AAC...,DSMC Lundbeck - honorarium; NIDA Stanley Found...
113,4/30/2019 11:15:30,iliyani@yahoo.com,iliyan,NaN,ivanov,iliyani@yahoo.com,ENIGMA,Icahn School of Medicine,One Gustave Levy Place,NEW YORK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NIDA,Lundbeck Data Monitoring Committee